
<!-- <!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/style.css">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    </head>
    <body>
    <head>
        <title>Home</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/style.css">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    </head> -->
    <!-- RD Navbar-->
    <header class="section page-header rd-navbar-dark" id="header">
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="166px" data-xl-stick-up-offset="166px" data-xxl-stick-up-offset="166px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-main"><span></span></button>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel-inner container">
                    <div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
                    <!-- Owl Carousel-->
                    <div class="owl-carousel-navbar owl-carousel-inline-outer">
                        <div class="owl-inline-nav">
                        <button class="owl-arrow owl-arrow-prev"></button>
                        <button class="owl-arrow owl-arrow-next"></button>
                        </div>
                        <div class="owl-carousel-inline-wrap">
                        <div class="owl-carousel owl-carousel-inline" data-items="1" data-dots="false" data-nav="true" data-autoplay="true" data-autoplay-speed="3200" data-stage-padding="0" data-loop="true" data-margin="10" data-mouse-drag="false" data-touch-drag="false" data-nav-custom=".owl-carousel-navbar">
                            <!-- Post Inline-->
                            <article class="post-inline">
                            <time class="post-inline-time" datetime="2020">April 15, 2020</time>
                            <p class="post-inline-title">Sportland vs Dream Team</p>
                            </article>
                            <!-- Post Inline-->
                            <article class="post-inline">
                            <time class="post-inline-time" datetime="2020">April 15, 2020</time>
                            <p class="post-inline-title">Sportland vs Real Madrid</p>
                            </article>
                            <!-- Post Inline-->
                            <article class="post-inline">
                            <time class="post-inline-time" datetime="2020">April 15, 2020</time>
                            <p class="post-inline-title">Sportland vs Barcelona</p>
                            </article>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="rd-navbar-panel-item rd-navbar-panel-item-right">
                    <ul class="list-inline list-inline-bordered">
                        <li>
                        <!-- Select 2-->
                        <select class="select select-inline" data-placeholder="Select an option" data-dropdown-class="select-inline-dropdown">
                            <option value="en" selected="">en</option>
                            <option value="fr">fr</option>
                            <option value="es">es</option>
                        </select>
                        </li>
                        <li class="d-none">
                        <div class="cart-inline-toggled-outer d-none">
                            <!-- Link Cart-->
                            <button class="link link-cart cart-inline-toggle" data-rd-navbar-toggle="#cart-inline"><span class="link-cart-icon fl-bigmug-line-shopping202"></span><span class="link-cart-counter">2</span></button>
                            <!-- Cart Inline-->
                            <article class="cart-inline cart-inline-toggled" id="cart-inline">
                            <div class="cart-inline-inner">
                                <div class="cart-inline-header">
                                <h5 class="cart-inline-title">In cart: 2 products</h5>
                                <p class="cart-inline-subtitle">total price: $750</p>
                                </div>
                                <div class="cart-inline-main">
                                        <!-- Product inline-->
                                        <article class="product-inline">
                                        <div class="product-inline-aside"><a class="product-inline-figure" href="#"><img class="product-inline-image" src="images/product-Nike-Air-Zoom-Pegasus-67x30.png" alt="" width="67" height="30"/></a></div>
                                        <div class="product-inline-main">
                                            <p class="heading-7 product-inline-title"><a href="#">Nike Air Zoom Pegasus</a></p>
                                            <ul class="product-inline-meta">
                                            <li>
                                                <input class="form-input" type="number" data-zeros="true" value="2" min="1" max="100">
                                            </li>
                                            <li>
                                                <p class="product-inline-price">$500.00</p>
                                            </li>
                                            </ul>
                                        </div>
                                        </article>
                                        <!-- Product inline-->
                                        <article class="product-inline">
                                        <div class="product-inline-aside"><a class="product-inline-figure" href="#"><img class="product-inline-image" src="images/product-Nike-Baseball-Hat-55x38.png" alt="" width="55" height="38"/></a></div>
                                        <div class="product-inline-main">
                                            <p class="heading-7 product-inline-title"><a href="#">Nike Baseball Hat</a></p>
                                            <ul class="product-inline-meta">
                                            <li>
                                                <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="100">
                                            </li>
                                            <li>
                                                <p class="product-inline-price">$250.00</p>
                                            </li>
                                            </ul>
                                        </div>
                                        </article>
                                </div>
                                <div class="cart-inline-footer"><a class="button button-md button-default-outline" href="#">Go to Cart</a><a class="button button-md button-primary" href="#">Checkout</a></div>
                            </div>
                            </article>
                        </div>
                        </li>
                        <li id="login_status"><a class="link link-icon link-icon-left link-classic" href="#"><span class="icon fl-bigmug-line-login12"></span><span class="link-icon-text" id="employee">Your Account</span></a></li>
                    </ul>
                    </div>
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                </div>
                </div>
                <div class="rd-navbar-main">
                <div class="rd-navbar-main-top">
                    <div class="rd-navbar-main-container container">
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a class="brand" href="./"><img class="brand-logo " src="./images/tooster.png" alt="" width="95" height="126"/></a>
                    </div>
                    <!-- RD Navbar List-->
                    <ul class="rd-navbar-list">
                        <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="../images/partners-1-inverse-75x42.png" alt="" width="75" height="42"/></a></li>
                        <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="../images/partners-2-inverse-88x45.png" alt="" width="88" height="45"/></a></li>
                        <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="../images/partners-3-inverse-79x52.png" alt="" width="79" height="52"/></a></li>
                    </ul>
                    <!-- RD Navbar Search-->
                    <div class="rd-navbar-search">
                        <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                        <form class="rd-search" action="#" data-search-live="rd-search-results-live" method="GET">
                        <div class="form-wrap">
                            <label class="form-label" for="rd-navbar-search-form-input">Enter your search request here...</label>
                            <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                            <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </div>
                        <button class="rd-search-form-submit fl-budicons-launch-search81" type="submit"></button>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="rd-navbar-main-bottom rd-navbar-darker">
                    <div class="rd-navbar-main-container container">
                    <!-- RD Navbar Nav-->
                                        <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item active"><a class="rd-nav-link" href="./home">Home</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="./event">活動</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="./USER_Member_3">球員名單</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu Boss">
                                            <a class="rd-nav-link" href="#">管理中心</a>
                                            <!-- <span class="rd-navbar-submenu-toggle"></span> -->
                                            <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="./add_event">新增活動</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="./ListMember">球員名冊</a>
                                            </li>
                                            <!-- <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="list-shop.html">List Shop</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="fullwidth-shop.html">Fullwidth Shop</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="product-page.html">Product Page</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="shopping-cart.html">Shopping Cart</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="checkout.html">Checkout</a>
                                            </li> -->
                                            </ul>
                                      </li>
                                        </ul>
                    <div class="rd-navbar-main-element">
                        <ul class="list-inline list-inline-sm">
                        <li><a class="icon icon-xs icon-light fa fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-xs icon-light fa fa-twitter" href="#"></a></li>
                        <li><a class="icon icon-xs icon-light fa fa-google-plus" href="#"></a></li>
                        <li><a class="icon icon-xs icon-light fa fa-instagram" href="#"></a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
            </nav>
        </div>
    </header>
    <script>
        
        var timeout = setTimeout(function() {

          fetch('./user_data', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json;charset=utf-8'
              },
              body: JSON.stringify({ identifier: "none" }),
          })
          .then(response => {
              if (!response.ok) {
                  if (response.status == 400) {
                      // 如果狀態碼是 400，跳轉到登入頁
                    const path = window.location.pathname;
                    console.log(path);
                    if((path == '/my-express-app/home' || path == '/my-express-app/USER_Member_3' || path == '/my-express-app/USER_Member_2' || path == '/my-express-app/USER_Member_4')){
                        console.log("OK")
                    }else{
                        window.location.href = "./login";

                    }
                      
                  }

                  throw new Error(`Network response was not ok, status: ${response.status}`);
              }
              return response.json(); // 解析 JSON 響應
          })
          .then(data => {
            console.log('Response data:', data); // 查看完整響應
            if (data.status === 200) {

                const { displayName, identifier, birthday, position1, position2, level } = data.user;
                console.log('User data:', displayName, identifier, birthday, position1, position2, level); // 獲取並輸出用戶資料
                const element = document.querySelector('.fl-bigmug-line-login12');
                if (element) {
                    element.className = 'icon fa-user-o'; // 將 class 改為 'new-class'
                    localStorage.setItem('displayName',displayName);
                    localStorage.setItem('identifier',identifier);
                    localStorage.setItem('level',level);

                    document.getElementById('employee').innerHTML = displayName
                    console.log('Class changed to:', element.className); // 確認 class 已更改
                }

                if(level !== 1){
                    $(".Boss").addClass("d-none")
                }
                
                // 在這裡可以進行其他操作，例如顯示在頁面上
            }
            else {
                console.error('Error:', data.message); // 處理錯誤情況
            }
   
          })
          .catch((error) => {

              console.error('Error:', error);
          });
        }, 1000);
    </script>
    <!-- <script src="js/core.min.js"></script>
    <script src="js/script.js"></script> -->
    <!-- <script>
        $(function(){
            $("#header").load("header.html", function() {
                // 確保在 header 加載完畢後執行
                if($.fn.select2) {
                    $('.select').select2();
                }
                if($.fn.UItoTop) {
                    $().UItoTop();
                }
            });
        }); -->
    <!-- </script> -->
    <!-- </body>

</html>
     -->