button {
    border: 0;
    font-weight: bold;
    /* border-left:3px solid #000; */
    background-color: #dddd;
}
button:active {
  border-bottom:3px solid #35ad79;
  transform: scale(0.98);
}
button:hover {
  border-bottom:3px solid #35ad79;
  transform: scale(0.98);
}

button.active {
  border-bottom:3px solid #35ad79;
  background-color: #35ad79;
  color: #fff;
}
/* datatable */
#example_filter label{
	display: flex;
    justify-content: right;
}
#example_filter input{
	width: auto !important;
}
@media (min-width: 400px){
    #example_filter label{
        display: flex;
        justify-content: center;
    }
    .dataTables_length {
        justify-content: center;
       
    }
} 
#example button{
    padding: 8px !important;
}
#example td{
    vertical-align: middle !important;
}
#example select{
    display: block;
    width: 87px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #707279;
    border-radius: 0.25rem;
}
#example option{
    background-color: #35ad79;
    color: #fff;
}
#example option:hover,option:focus {
  background: #707279 !important;
}