button {
    border: 0;
    font-weight: bold;
    /* border-left:3px solid #000; */
    background-color: #dddd;
}
button:active {
  border-bottom:3px solid #35ad79;
  transform: scale(0.98);
}
button:hover {
  border-bottom:3px solid #35ad79;
  transform: scale(0.98);
}

button.active {
  border-bottom:3px solid #35ad79;
  background-color: #35ad79;
  color: #fff;
}
/* datatable */
#example_wrapper .table th{
    width: 30% !important;
}
#example_filter label{
	display: flex;
    justify-content: right;
}
#example_filter input{
	width: auto !important;
}
.dataTables_paginate{
    display: flex;
    justify-content: end;
}
.dataTables_paginate .page-link{
    font-size: 14px;
    border-radius: 3px;
}
.dataTables_length{
    padding-left: 15px;
}
#example_wrapper .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}




/*
  *** fut-player-card styles ***
*/

.fut-player-card {
	position: relative;
	width: 281px;
	height: 363px;
	background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 1.5rem 0;
	z-index: 2;
	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;
}


.fut-player-card .player-card-top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #e9cc74;
	padding: 0 1.5rem;
}

.fut-player-card .player-card-top .player-master-info {
	position: absolute;
	line-height: 2.2rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-transform: uppercase;
}

.fut-player-card .player-card-top .player-master-info .player-rating {
	font-size: 2rem;
}

.fut-player-card .player-card-top .player-master-info .player-position {
	font-size: 1.4rem;
}

.fut-player-card .player-card-top .player-master-info .player-nation {
	display: block;
	width: 2rem;
	height: 25px;
	margin: 0.3rem 0;
}

.fut-player-card .player-card-top .player-master-info .player-nation img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.fut-player-card .player-card-top .player-master-info .player-club {
	display: block;
	width: 2.1rem;
	height: 40px;
}

.fut-player-card .player-card-top .player-master-info .player-club img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.fut-player-card .player-card-top .player-picture {
	width: 178px;
	height: 178px;
	margin: 0 auto;
	overflow: hidden;
}

.fut-player-card .player-card-top .player-picture img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: relative;
	right: -1.5rem;
	bottom: 0;
}

.fut-player-card .player-card-top .player-picture .player-extra {
	position: absolute;
	right: 0;
	bottom: -0.5rem;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	height: 2rem;
	padding: 0 1.5rem;
	text-align: right;
	background: none;
}

.fut-player-card .player-card-top .player-picture .player-extra span {
	margin-left: 0.6rem;
	text-shadow: 2px 2px #333;
}

.fut-player-card .player-card-bottom {
	position: relative;
    margin-top: -15px;
}

.fut-player-card .player-card-bottom .player-info {
	display: block;
	padding: 0.3rem 0;
	color: #e9cc74;
	width: 90%;
	margin: 0 auto;
	height: auto;
	position: relative;
	z-index: 2;
}

.fut-player-card .player-card-bottom .player-info .player-name {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	padding-bottom: 0.3rem;
	overflow: hidden;
}

.fut-player-card .player-card-bottom .player-info .player-name span {
	display: block;
	text-shadow: 2px 2px #111;
}

.fut-player-card .player-card-bottom .player-info .player-features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
	border-right: 2px solid rgba(233, 204, 116, 0.1);
	padding: 0 1.5rem;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
	margin-right: 0.3rem;
	font-weight: 700;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
	margin-right: 0.3rem;
	font-weight: 700;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
	border: 0;
}
@media (max-width: 400px){
    
    .dataTables_paginate{
        justify-content: center;
    }
    #example_filter label{
        display: flex;
        justify-content: center;
    }
    .dataTables_length {
        display: flex;
        justify-content: center;
       
    }
} 
#example button{
    padding: 8px !important;
}
#example td{
    vertical-align: middle !important;
}
#example select{
    display: block;
    width: 87px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #707279;
    border-radius: 0.25rem;
}
#example option{
    background-color: #35ad79;
    color: #fff;
}
#example option:hover,option:focus {
  background: #707279 !important;
}