button {
    border: 0;
    font-weight: bold;
    border-left:3px solid #000;
    background-color: none;
}
button:active {
  border-bottom:3px solid #35ad79;
  transform: scale(0.98);
}
button:hover {
  border-bottom:3px solid #35ad79;
  transform: scale(0.98);
}

button.active {
  border-bottom:3px solid #35ad79;
  background-color: #35ad79;
  color: #fff;
}